.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  border: solid #d8d8d8;
  border-width: 1px 1px 0 1px;
  border-radius: 10px 10px 0 0;
  background: #f0f0f0;
  text-align: center;
  font-family: Tahoma;
  flex: 1;
}

.tab-list-active {
  background-color: #a90006;
  border: solid #d8d8d8;
  border-width: 1px 1px 0 1px;
  border-radius: 10px 10px 0 0;
  color: white;
  text-align: center;
  font-family: Tahoma;
  flex: 1;
}

.tab-content {
  border: 1px solid #d8d8d8;
  background: white;
  padding: 30px;
}