// GLOBAL COLORS
$black: #291a14;
$white: white;
$red: #ff5501;
$red-bright: #f1352f;
$grey: #8b8b8b;
$grey-dark: #575757;
$grey-light: #bebdbd;
$grey-light-base: #cfcfcf;
$grey-lighter: #f0f0f0;
$green: mediumseagreen;
$blue: deepskyblue;
$beige: #d4d0be;

 // MEDIA QUERIES
$breakpoint-small: 320px;
$breakpoint-large: 768px;
$breakpoint-desktop: 1024px;




 

